/* custom google font import */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

/* using an asterisk selector applies the style declaration globally to all elements */
* {
  font-family: "Tilt Neon", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main game background image style declaration*/
body {
  background-image: url("./pics/grass.jpeg");
  background-size: center;
}

/* positions the modal on top of the viewport so it isn't visible to the user until the timer runs out*/
.modalBox {
  position: absolute;
  top: -100%;
}

.active {
  position: fixed;
  top: 0%;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
}

/* modal that descends from the top of the webpage when the game timer expires without completing the game*/
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 500px;
  background-color: rgb(231, 14, 14);
  padding: 20px;
  border-radius: 6px;
  margin: 17% auto;
}
/*styles the modal that appears when a user wins the game*/
.winModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 500px;
  background-color: rgb(10, 172, 91);
  padding: 20px;
  border-radius: 6px;
  margin: 17% auto;
}

.actions {
  margin-top: 20px;
}

.msg {
  font-size: 1.2rem;
}

.cancel a {
  text-decoration: none;
  color: black;
}

.cancel,
.restart {
  font-size: 1.2rem;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin: 5px;
}

.cancel:hover {
  background-color: orange;
  color: white;
}

.restart:hover {
  background-color: darkgreen;
  color: white;
}

/*adds style to the timer element*/
.timer {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin: 20px 0;
}

.timerNumber {
  margin-left: 0.7%;
}

.main {
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.card {
  height: 170px;
  width: 145px;
}
